/* general style */
:root {
    --purple: #7400b8;
    --cyan: #65d7e9;
}
body {
    font-family: "Advent Pro", sans-serif;
    background: linear-gradient(var(--cyan), var(--purple));
    color: white;
}
h2 {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 100%;
    color: var(--purple);
}


/* header style */
header {
    text-align: center;
}
header h1 {
    font-size: 60px;
    justify-content: center;
    margin: 10px auto;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}
nav ul li {
    list-style: none;
    background-color: var(--purple);
    width: 100%;
    margin: 2px auto;
    padding: 2px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
nav ul li:hover {
    box-shadow: 0 0 5px black;
}
nav ul li:hover a {
    color: var(--cyan);
}


/* about me style */
.about-me div {
    justify-content: center;
    text-align: center;
}
.avatar {
    width: 100%;
}
.about-me div h3 {
    font-size: 25px;
    margin: 15px auto;
}
.about-me div p {
    font-size: 17px;
}


/* my work style */
.project-card a img {
    width: 100%;
}
.project-card a img:hover {
    box-shadow: 0 0 5px black;
}
.project-card h4 {
    font-size: 19px;
    margin: 10px auto;
}
.project-card p {
    font-size: 17px;
    margin: 10px auto;
}


/* contact me */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.contact-form label {
    padding: 5px;
    font-size: 20px;
}
.contact-form input, .contact-form textarea {
    width: 80%;
    font-size: 18px;
}
.contact-form input:focus, .contact-form textarea:focus {
    border: 0.2px solid var(--cyan);
    box-shadow: 0 0 10px var(--cyan);
    outline: none;
}
.contact-links {
    padding: 0px;
    display: flex;
    justify-content: center;
}
.contact-links li {
    display: inline;
    list-style: none;
    align-items: center;
}
.contact-icon {
    height: 80px;
    width: 80px;
    padding: 0 5px 20px;

}
.contact-icon:hover {
    transform: scale(110%)
}


/* media queries */
