/* general style */
:root {
    --purple: #7400b8;
    --cyan: #65d7e9;
}
body {
    font-family: "Advent Pro", sans-serif;
    background: linear-gradient(var(--cyan), var(--purple));
    color: white;
}
h2 {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 100%;
    color: var(--purple);
    font-size: 27px;
}


/* header style */
header {
    text-align: center;
}
header h1 {
    font-size: 60px;
    justify-content: center;
    margin: 10px auto;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}
nav ul li {
    list-style: none;
    background-color: var(--purple);
    width: 100%;
    margin: 2px auto;
    padding: 2px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
nav ul li:hover a {
    color: var(--cyan);
}


/* about me style */
.about-me div {
    text-align: center;
}
.avatar {
    width: 100%;
}
.about-me div h3 {
    font-size: 25px;
    margin: 15px auto;
}
.about-me div p {
    font-size: 17px;
}


/* my work style */
.project-card a img {
    width: 100%;
    height: ;
}
.project-card a img:hover {
    box-shadow: 0 0 10px black;
    transform: scale(100.2%);
}
.project-card h4 {
    font-size: 19px;
    margin: 10px auto;
}
.project-card p {
    font-size: 17px;
    margin: 10px auto;
}


/* contact me */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.contact-form label {
    padding: 5px;
    font-size: 20px;
}
.contact-form input, .contact-form textarea {
    width: 80%;
    font-size: 18px;
    font-family: inherit;
}
.contact-form input:focus, .contact-form textarea:focus {
    border: 0.2px solid var(--cyan);
    box-shadow: 0 0 10px var(--cyan);
    outline: none;
}
form button {
    margin-top: 15px;
    font-size: 22px;
    font-family: inherit;
    font-weight: bold;
    padding: 2px 30px;
    color: var(--purple);
}
form button:hover {
    transform: translateY(2px);
}
.contact-links {
    padding: 0px;
    display: flex;
    justify-content: center;
}
.contact-links li {
    display: inline;
    list-style: none;
    align-items: center;
}
.contact-icon {
    height: 80px;
    width: 80px;
    padding: 0 5px 20px;

}
.contact-icon:hover {
    -webkit-transform: scale(110%)
}


/* media queries */
@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        background-color: var(--purple);
    }
    nav ul li {
        flex-grow: 1;
    }
    .about-me div {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .about-me div div {
        display: block;
    }
    .about-me div div h3 {
        width: 70%;
    }
    .about-me div div p {
        width: 80%;
        margin: auto;
    }
    .my-work div {
        display: flex;
        flex-wrap: wrap;
    }
    .project-card {
        flex: 0 50%;
    }
    .project-card:first-of-type {
        flex: 0 100%
    }
    .contact-form input, .contact-form textarea {
        width: 60%;
    }
}   

@media screen and (min-width: 980px) {
    header {
        display: flex;
        background-color: var(--purple);
        align-items: center;
    }
    h1{
        flex: 3;
        text-align: left;
        padding-left: 30px;
    }
    header nav {
        flex: 2;
    }
    nav ul {
        flex: 1;
        justify-content: flex-end;
    }
    nav ul li {
        width: 25%;
    }
    .about-me div {
        width: 75%;
        margin: auto;
    }
    .about-me div div h3 {
        font-size: 29px;
    }
    .about-me div div p {
        font-size: 22px;
    }
    .my-work div{
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }
    .project-card {
        flex: 0 48%;
    }
    .contact-form input, .contact-form textarea {
        width: 40%;
    }
}